.board-wrapper {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-areas:
    'team team'
    '. letters'
    'numbers board';
  grid-template-columns: 1em max-content;
  grid-template-rows: max-content 1em max-content;
  gap: 2px;
}

.board-team {
  font-size: 1.3rem;
  padding: 0.5rem;
  text-align: center;

  grid-area: team;
}

.board-numbers,
.board-letters {
  font-weight: bold;
  font-family: 'Radio Canada Big', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  display: grid;
  gap: 2px;
}

.board-numbers {
  grid-area: numbers;

  grid-auto-flow: row;
  grid-auto-rows: 1fr;

  align-items: center;
  justify-items: center;
}

.board-letters {
  grid-area: letters;

  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  align-items: center;
  justify-items: center;
}

.board {
  grid-area: board;
  user-select: none;
  -webkit-user-select: none;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
}

.square {
  background-color: var(--blue);
}

.square-hit {
  position: relative;
}

.square-hit::after {
  background-color: var(--white);

  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1rem;
  height: 1rem;

  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.ship {
  position: absolute;
  display: grid;
  grid-auto-rows: 40px;
  grid-auto-columns: 40px;
  gap: 2px;
}

.ship-horizontal {
  grid-auto-flow: column;
}

.ship-vertical {
  grid-auto-flow: row;
}

.ship-part {
  background-color: var(--yellow);
}

.ship-part-hit,
.square-ship-hit {
  background-color: var(--red);
}
