.control-panel {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
}

.confirm-button {
  --shadow-color: var(--green);
  background-color: var(--green-light);
}

.control-panel-active {
  visibility: visible;
}
