.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
}

.square {
  background-color: teal;
}

.square-hit {
  background-color: white;
}

.ship {
  position: relative;
  display: grid;
  grid-auto-rows: 40px;
  grid-auto-columns: 40px;
  gap: 2px;
}

.ship-horizontal {
  grid-auto-flow: column;
}

.ship-vertical {
  grid-auto-flow: row;
}

.ship-part {
  background-color: yellow;
}

.ship-part-hit {
  background-color: red;
}
