@font-face {
  font-family: 'Metadannye';
  src: url(../assets/fonts/Metadannye.woff);
}

@font-face {
  font-family: 'RadioCanadaBig';
  src: url(../assets/fonts/RadioCanadaBig.ttf);
}

@font-face {
  font-family: 'Jaro';
  src: url(../assets/fonts/Jaro.ttf);
}
