body {
  height: 100dvh;
  background-color: var(--white);
  color: var(--gray-dark);
  font-family: 'Jaro', sans-serif;
  font-weight: 400;
}

main {
  height: 100%;
  display: grid;

  grid-template-areas:
    'header header'
    'message message'
    'board0  board1'
    'control .';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 10vh max-content 1fr;

  gap: 1rem;
}

header {
  grid-area: header;
}

.message-board {
  grid-area: message;
}

.control-panel {
  grid-area: control;
}

.board-wrapper0 {
  grid-area: board0;
}

.board-wrapper1 {
  grid-area: board1;
}
