body {
  height: 100dvh;
  background-color: rgb(61, 58, 58);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}
