:root {
  --gray-dark: #2e282a;
  --gray: #99a3a3;
  --white: #f7fff7;
  --blue: #00c6d8;
  --green: #33e62d;
  --green-light: #39ff32;
  --red: #ff3b21;
  --yellow: #f7e733;

  --brown: #845c48;
  --brown-dark: #644536;

  --yellow-light: #f0c105;
  --yellow-lighter: #fbcf23;

  --blue-light-0: #0093f5;
  --blue-dark-0: #0282f2;
  --blue-light-1: #0164a7;
  --blue-dark-1: #014e81;
}
